.aboutText {
  width: 100%;
  margin: auto;
  padding: 5rem  1rem;
  border-radius: 1.5rem;
  text-align: center;
  background-color: var(--main-color);
}

.aboutText h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;
}

.aboutText p {
  font-size: 1rem;
  line-height: 1.7;
  color: #fff;
  margin-bottom: 1rem;
}

/* Desktop */
@media (min-width: 1024px) {
  .aboutText {

    padding: 5rem;
    /* margin: 5rem; */
  }

  .aboutText h3 {
    font-size: 2rem;
  }

  .aboutText p {
    font-size: 1.6rem;
  }
}